@import '../../App'

.article-image-container-cover
    border-radius: 0
    cursor: default
    position: fixed
    top: 0
    z-index: -1

.article-container-offset
    margin-top: 50vh
    padding-top: 2em

.article-body
    margin-top: 3em
    margin-bottom: 3em